@import url(https://fonts.googleapis.com/css?family=Merriweather:300,900);

.content{
    box-shadow: inset 0px 15px 15px 0px rgba(0,0,0,0.3);
    font-family: 'Tahoma',sans-serif;
    color: #696969;
    background: rgb(29, 29, 29);
    width: 100%; 
    margin: auto;
    padding: 5vh 5vh;
}

.content .copyright{
    font-weight: bold;
}

.fixed_footer{
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #111;
    position: fixed; left: 0; bottom: 0;

}