@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "../node_modules/bulma/sass/utilities/initial-variables.sass";
@import "../node_modules/bulma/sass/utilities/functions.sass";

$red: rgb(247, 71, 71);
$red-invert: findColorInvert($red);
$primary: $red;
$primary-invert: $red-invert;
$is-primary: $red;

$agmemain: rgb(255, 169, 98);
$agmemain-invert: findColorInvert($agmemain);

@import "../node_modules/bulma/sass/utilities/derived-variables.scss";
$addColors: (
  "agmemain": ($agmemain, $agmemain-invert)
);
$colors: map-merge($colors, $addColors);

@import '../node_modules/bulma/sass/utilities/_all.sass';
@import '../node_modules/bulma/sass/base/_all.sass';
@import '../node_modules/bulma/sass/elements/button.sass';
@import '../node_modules/bulma/sass/elements/container.sass';
@import '../node_modules/bulma/sass/elements/form.sass';
@import '../node_modules/bulma/sass/elements/title.sass';
@import '../node_modules/bulma/sass/components/navbar.sass';
@import '../node_modules/bulma/sass/layout/hero.sass';
@import '../node_modules/bulma/sass/layout/section.sass';
@import '../node_modules/bulma/sass/grid/tiles.sass';
@import '../node_modules/bulma/sass/form/_all.sass';

//@import '../node_modules/bulma/bulma.sass';

html {
  overflow-y: auto;
  padding: 0px;
  height: 100%;
}

body {
  overflow-y: hidden;
  margin: 0px;
  height: 100%;
}

.navbar{
  border-bottom: 1px solid rgb(179, 179, 179);
}

#brand {
  font-weight: bold;
}

#signup {
  background-color: $primary;
}

#hpcontent{
  background-color: rgb(221, 221, 221);
  //background-color: rgb(241, 241, 241);
  //height: 92vh;
}

.content {
  height: 100vh;
  text-align: center
}

#herobanner {
  padding-bottom: 70vh;
  font-size: 1.5rem;
}
#herobanner2 {
   background-color: $primary;
   border-right: rgb(179, 179, 179) solid 1px;
}

#herobanner2small {
  display: none;
}

#businessboxcontent:hover {
  background-color: rgb(250, 250, 250);
}

#businessboxcontent {
  height: 17vh;
  border: solid rgb(179, 179, 179) 1px;
  overflow: hidden;
}

#buslvl {
  border: solid rgb(179, 179, 179) 1px;
  height: 10vh;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 7px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  font-size: 1em;
  padding-bottom: 100px;
}
#buslvl:hover {
  background-color: rgb(250, 250, 250);
}

#paddingtest {
  font-size: 3.5vh;
}

#onlyname {
  display: none;
}

#hiddenbox {
  visibility: hidden;
}


#bustext {
  //color: rgb(179, 179, 179);
  color: $grey_dark;
  padding-left: 0px;
}

#busimg {
  margin-top: 20px;
  width: 90px;
  height: 90px;
}

#navsearchbar {
  border-radius: 4px;
  border: solid rgb(136, 136, 136) 1px;
}

#searchcontainer {
  //padding-bottom: 100px;
  overflow-y: auto;
}
#searchlist {
  height: 1px;
  margin-top: 2vh;
  margin-left: 2%;
  margin-right: 2%;
  padding-bottom: calc(76vh - 2px);
  overflow-y: auto;
  overflow-x: hidden;
}
#searchresults {
  overflow-y: hidden;
  overflow-x: hidden;
}
#searchhero {
  background-color: $primary;
  padding-bottom: 20px;
  padding-top: 25px;
}
#searchradio {
  text-align: left;
}
.space {
  padding-bottom: 50vh;
}

#submitbutton {
  background-color: $red;
  color: white;
  font-weight: bold;
  font-size: 14px;
  //border: solid rgb(136, 136, 136) 0.5px;
  // padding-top: 5px;
  // padding-bottom: 5px;
  border-radius: 4px;
}

@media only screen and (max-width: 1060px) {
  #herobanner {
    padding-bottom: 0vh;
  }
  #businesscolumn {
    width: 100%;
  }
  #buslvl {
    display: none;
    font-size: 2vh;
  }
  #onlyname {
    display: block;
    border: solid rgb(179, 179, 179) 1px;
    height: 10vh;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 7px;
    font-size: 1.5vh;
    padding-bottom: 100px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.05), 0 2px 20px 0 rgba(0, 0, 0, 0.05);
  }
  #onlyname:hover {
    background-color: rgb(250, 250, 250);
  }
  #bushide {
    display: none;
  }
  #searchlist {
    overflow-y: auto;
  }

  #herobanner2 {
    padding-top: 0px;
    padding-bottom: 50px;
    height: 100px;
    font-size: 3vh;
    display: none;
  }
  #herobanner2small {
    display: inline-block;
    background-color: $primary;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 1.5rem;
  }
  #businessboxcontent {
    height: 80px;
    padding-top: 6px;
    font-size: 2vh;
  }
  #busimg {
    //padding-top: 3px;
    width: 64px;
    height: 64px;
  }
  #herotitle {
    font-size: 1.5rem;
  }
  #subtitle {
    font-size: 1rem;
  }
  #burgerzoomed {
    text-align: center;
  }
  #dropdown {
    display: none;
  }
  #businesslist {
    padding-bottom: 500px;
  }
  #pagbut {
    margin-left: 0px;
  }
}

#businesslistcontainer {
  height: 30vh;
}
#businesslist {
  margin-top: 15px;
  overflow-y: auto;
  height: 90vh;
  //padding-bottom: 500px;
}

#searchbutton {
  background-color: white;
  border: none;
}

a, a:visited, a:link, a:active {
  color: $grey-dark;
}

#subtitle {
  font-size: 1rem;
}

#nav-toggle-state {
  display: none;
}

.navbar-item {
  text-align: center;
}
#nav-toggle-state:checked ~ .navbar-menu {
  display: block;
}

.pagbutton {
  background-color:white;
  display: inline-block;
  border: solid lightgray 1px;
  border-radius: 3px;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  color: black;
  
}

#loading {
  text-align: center;
}

.availability-title{
  border-bottom: 2px solid black;
  display: inline;
}

.availability-info{
  display: flex;
}

.worker-name{
  margin: 20px;
}

.worker-date-card{
  transition: all .2s ease-in-out;
}

.worker-date-card:hover { transform: scale(1.2); }

/*.header {
  width: 100%;
  position: fixed;        
  background: #fff;
  z-index: 1
}
*/

.business-title {
  margin-top: 20px;
}

.pagination {
  padding: 20px;
}

.worker-nav-button{
  background-color: #00d1b2;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  border-radius: 8px;
  transition-duration: 0.4s;
  border: 2px solid #00d1b2;
  outline:none;
}

.worker-nav-button:hover {
  background-color: white;
  color: black;
  border: 2px solid #00d1b2;
  cursor: pointer;
}

.worker-availability {
  display: none;
}

